<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta
      name="google-signin-client_id"
      content="523756531198-lc3he8g9ca5ktu6508bhshvb1c40klch.apps.googleusercontent.com"
    />
    <% const title='Password Reset Page' %>
    <title><%= title %>- myApp.com </title>
    <meta name="description" content="My Page Description" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />
  </head>
  <body>
    <h3>CREATE NEW PASSWORD</h3>

    <ul>
      <% if(messages.success_msg) { %>
      <li><%= messages.success_msg %></li>
      <% } %>
    </ul>
    <ul>
      <% if(messages.error) { %>
      <li><%= messages.error %></li>
      <% } %>
    </ul>

    <form action="/users/newpasswordpage" method="POST">
      <div>
        <input
          type="hidden"
          value="<%= token %>"
          name="token"
          required
        />
      </div>
      <div>
        <input
          type="password"
          id="pasword"
          name="password"
          placeholder="New Password"
          required
        />
      </div>
      <div>
        <input
          type="password"
          id="pasword2"
          name="password2"
          placeholder="Confirm New Password"
          required
        />
      </div>
      
      <div>
        <input type="submit" value="Update Password" />
      </div>
      <a href="/users/login">back</a>
    </form>


  </body>
</html>