<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>password reset page</title>
    <meta name="viewport" content="width=device-width, initial scale=1,0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  </head>
  <body>
    <h3>RESET YOUR PASSWORD</h3>

    <ul>
      <% if(messages.success_msg) { %>
      <li><%= messages.success_msg %></li>
      <% } %>
    </ul>
    <ul>
      <% if(messages.error) { %>
      <li><%= messages.error %></li>
      <% } %>
    </ul>

    <form action="/users/passwordreset" method="POST">
      <div>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter the registered email"
          required
        />
      </div>
      
      <div>
        <input type="submit" value="send reset mail" />
      </div>
      <a href="/users/login">back</a>
    </form>


  </body>
</html>
